In [4]:
!pip install pandas

Requirement already satisfied: pandas in ./.venv/lib/python3.8/site-packages (1.5.1)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in ./.venv/lib/python3.8/site-packages (from pandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.1 in ./.venv/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.8/site-packages (from pandas) (2022.6)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [9]:
!pip install xlrd

Collecting xlrd
  Using cached xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [34]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [1]:
import pandas as pd

In [2]:
import numpy as np

# Q1

In [24]:
energy = pd.read_excel('Energy Indicators.xls', skiprows=17, nrows=227)

In [25]:
energy.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Petajoules,Gigajoules,%
0,NaN,Afghanistan,Afghanistan,321,10,78.669280
1,NaN,Albania,Albania,102,35,100.000000
2,NaN,Algeria,Algeria,1959,51,0.551010
3,NaN,American Samoa,American Samoa,...,...,0.641026
4,NaN,Andorra,Andorra,9,121,88.695650

In [26]:
energy.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Petajoules,Gigajoules,%
222,NaN,Viet Nam,Viet Nam,2554,28,45.32152
223,NaN,Wallis and Futuna Islands,Wallis and Futuna Islands,0,26,0.00000
224,NaN,Yemen,Yemen,344,13,0.00000
225,NaN,Zambia,Zambia,400,26,99.71467
226,NaN,Zimbabwe,Zimbabwe,480,32,52.53612

In [27]:
energy.drop(columns=['Unnamed: 0', 'Unnamed: 1'], inplace=True)

In [28]:
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

In [29]:
energy.replace('...', np.NaN, inplace=True)

In [30]:
energy['Energy Supply'] = energy['Energy Supply'] * 1000000

In [78]:
energy['Country'].replace({
    'Republic of Korea': 'South Korea',
    'United States of America': 'United States',
    'United Kingdom of Great Britain and Nothern Ireland': 'United Kingdom',
    'China, Hong Kong Special Administrative Region': 'Hong Kong',
}, inplace=True)

In [73]:
energy['Country'] = energy['Country'].str.replace(r'([A-Za-z]*)([0-9])+', r'\1', regex=True)

In [75]:
energy['Country'] = energy['Country'].str.replace(r'([A-Za-z]*) (\([A-Za-z ]*\))', r'\1', regex=True)

In [79]:
energy['Country'][30:50]

30                             Brunei Darussalam
31                                      Bulgaria
32                                  Burkina Faso
33                                       Burundi
34                                    Cabo Verde
35                                      Cambodia
36                                      Cameroon
37                                        Canada
38                                Cayman Islands
39                      Central African Republic
40                                          Chad
41                                         Chile
42                                         China
43                                     Hong Kong
44    China, Macao Special Administrative Region
45                                      Colombia
46                                       Comoros
47                                         Congo
48                                  Cook Islands
49                                    Costa Rica
Name: Country, dtype: object

In [80]:
energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,3.210000e+08,10.0,78.669280
1,Albania,1.020000e+08,35.0,100.000000
2,Algeria,1.959000e+09,51.0,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9.000000e+06,121.0,88.695650
...,...,...,...,...
222,Viet Nam,2.554000e+09,28.0,45.321520
223,Wallis and Futuna Islands,0.000000e+00,26.0,0.000000
224,Yemen,3.440000e+08,13.0,0.000000
225,Zambia,4.000000e+08,26.0,99.714670
226,Zimbabwe,4.800000e+08,32.0,52.536120

In [40]:
GPD = pd.read_csv('./world_bank/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4701247.csv', skiprows=4)

In [41]:
GPD.drop(columns=['Unnamed: 66'], inplace=True)

In [42]:
GPD.replace({
    'Korea, Rep.': 'South Korea',
    'Iran, Islamic Rep.': 'Iran',
    'Hong Kong SAR, China': 'Hong Kong'
})

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09,2.496648e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129059e+10,2.180847e+10,2.370702e+10,2.821004e+10,2.611879e+10,2.968217e+10,...,9.730435e+11,9.839370e+11,1.003679e+12,9.242525e+11,8.823551e+11,1.020647e+12,9.910223e+11,9.975340e+11,9.216459e+11,1.082096e+12
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,...,7.275704e+11,8.207927e+11,8.649905e+11,7.607345e+11,6.905464e+11,6.837487e+11,7.416899e+11,7.945430e+11,7.844457e+11,8.358084e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.249982e+11,1.334016e+11,1.372444e+11,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10,5.361907e+10,7.254699e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.163785e+09,6.735731e+09,7.074658e+09,6.295820e+09,6.682833e+09,7.180813e+09,7.878509e+09,7.899879e+09,7.716925e+09,9.007159e+09
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.540134e+10,4.041524e+10,4.322859e+10,4.244450e+10,3.131783e+10,2.684223e+10,2.160616e+10,2.188761e+10,1.884051e+10,2.106169e+10
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,4.344005e+11,4.008860e+11,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.048421e+11,3.879346e+11,3.354421e+11,4.199464e+11
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10,2.120306e+10
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10,1.805117e+10,2.621773e+10

In [35]:
ScimEm=pd.read_excel('scimagojr country rank 1996-2021.xlsx')
ScimEm

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,Asiatic Region,303064,301778,3036531,2092737,10.02,273
1,2,United States,Northern America,184851,181106,2623922,819242,14.19,389
2,3,India,Asiatic Region,60257,58589,590570,213760,9.80,198
3,4,Japan,Asiatic Region,52780,52281,557023,132113,10.55,203
4,5,United Kingdom,Western Europe,47141,45928,748994,132737,15.89,244
...,...,...,...,...,...,...,...,...,...
206,207,Palau,Pacific Region,1,1,0,0,0.00,0
207,208,British Indian Ocean Territory,Africa,1,1,77,0,77.00,1
208,209,Central African Republic,Africa,1,1,0,0,0.00,0
209,210,Guinea-Bissau,Africa,1,1,19,3,19.00,1
210,211,Bahamas,Latin America,1,1,0,0,0.00,0

In [84]:
df = pd.merge(energy, GPD, left_on='Country', right_on='Country Name', how='inner')

In [85]:
df = pd.merge(df, ScimEm, on='Country', how='inner')
df

,Country,Energy Supply,Energy Supply per Capita,% Renewable,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,...,2020,2021,Rank,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,Afghanistan,3.210000e+08,10.0,78.669280,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,...,2.011614e+10,NaN,139,Asiatic Region,40,39,214,21,5.35,8
1,Albania,1.020000e+08,35.0,100.000000,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,...,1.513187e+10,1.826004e+10,118,Eastern Europe,88,87,585,46,6.65,12
2,Algeria,1.959000e+09,51.0,0.551010,Algeria,DZA,GDP (current US$),NY.GDP.MKTP.CD,2.723593e+09,2.434727e+09,...,1.450092e+11,1.679831e+11,43,Africa,4153,4067,41550,8307,10.00,77
3,American Samoa,NaN,NaN,0.641026,American Samoa,ASM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,...,7.090000e+08,NaN,183,Pacific Region,3,3,2,0,0.67,1
4,Andorra,9.000000e+06,121.0,88.695650,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,...,2.891001e+09,3.329911e+09,197,Western Europe,2,2,2,0,1.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,United States,9.083800e+10,286.0,11.570980,United States,USA,GDP (current US$),NY.GDP.MKTP.CD,5.433000e+11,5.633000e+11,...,2.089374e+13,2.299610e+13,2,Northern America,184851,181106,2623922,819242,14.19,389
163,Uruguay,1.960000e+08,58.0,71.605040,Uruguay,URY,GDP (current US$),NY.GDP.MKTP.CD,1.242289e+09,1.547389e+09,...,5.356076e+10,5.931955e+10,90,Latin America,299,296,2705,342,9.05,27
164,Uzbekistan,1.798000e+09,62.0,21.328410,Uzbekistan,UZB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,...,5.989431e+10,6.923890e+10,102,Asiatic Region,169,160,753,204,4.46,15
165,Zambia,4.000000e+08,26.0,99.714670,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,...,1.811063e+10,2.120306e+10,119,Africa,83,82,313,29,3.77,10
166,Zimbabwe,4.800000e+08,32.0,52.536120,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,...,1.805117e+10,2.621773e+10,124,Africa,72,71,412,45,5.72,12

In [86]:
df = df[['Country', 'Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]

In [87]:
df.set_index('Country', inplace=True)

In [89]:
df = df[df['Rank'] <= 15]